<div class="container">
    <h4><b>Who we are?</b></h4>
    <p><b>Virdwait</b> a.k.a <b>V devs</b> is an Indian based Technology company trying to bring the technlogy to everyone. We are mainly focussing on web application but not limited with it. We are making mobile applications, web sites and also we undertake
        social media marketing, email campaigning and search engine optimization.</p>
    <p>The idea of bringing technology to everyone is started in 2012, we did various research on it and studied deeply about it. We found that most of the companies in this field are focussing only on profit and they don't have any social commitments. We
        scored our first goal in 2015 by releasing an open source JavaScript library called VirdwaitJs which is used by many developers around the world. The idea of making Virdwait as a company came on 2016. In 2016, we registered with Google My Business
        and officially announced our company launch.</p>
    <h4><b>Mission & Vision</b></h4>
    <p>Our goal is to bring the technology to everyone. We are not a for-profit-only company. We have some social commitments. We are trying to make the public aware of the benefits and evolutions of technlogy, take them to the world of IT. We build products
        and provide services for a cost as low as possible. We are preparing our targets that need to be covered before 2020, known as <b>Vision 2K20</b>.</p>
    <h4><b>Where are we now?</b></h4>
    <p>In just 1 year, we undergone many many changes. Our website changed, logo changed, open source contribution guideliness changed. We are growing. We are closing to our target of bringing technology to everyone. Our target <b>Vision 2K20</b> is almost
        completed. In just 1 year, we gathered more details of how the MNCs conquering people. How they are cheating people and we planned what we have to do in this society. We learned, from where to start and which way to travel through. We are changing
        the world.
    </p>
    <h4><b>Support Us</b></h4>
    <p>Want to support our vision to bring the technology to everyone or want to become one of us. You have a chance to Become a face of evolution. Sign with us on your next project. All the money you're spending is used for the progress of the society.</p>