<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"><b>Email</b>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-6">virdwait@gmail.com
                </div>
            </div>
            <div class="row-seperator"></div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"><b>Mobile</b>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-6">+91-(9946)-706406
                </div>
            </div>
            <div class="row-seperator"></div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-6">+91-(9074)-187178
                </div>
            </div>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScs3bySOS08m2avWQb0rOf19zf_v9FupC2glMuJa83HauT-sQ/viewform?embedded=true" class="col-md-7 col-sm-7 col-lg-7 col-xs-12 sep" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <!-- <div class="col-md-7 col-sm-7 col-lg-7 sep">
            <div class="dropdown form-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose the purpose
                    <span class="caret"></span>
                </button> : {{type}}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li (click)="setType('pending');">Enquiry on pending project</li>
                    <li (click)="setType('support');">Support on completed project</li>
                    <li (click)="setType('new');">Want to get project done</li>
                </ul>
            </div>
            <form *ngIf="type==='pending'">
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Project #</span>
                    <input type="text" [(ngModel)]="id" name="id" class="form-control" placeholder="Enter your project id" aria-describedby="basic-addon1">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Email</span>
                    <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon1">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Question</span>
                    <textarea rows="5" [(ngModel)]="message" name="message" class="form-control" placeholder="Type your question" aria-describedby="basic-addon1"></textarea>
                </div>
                <div class="form-group">
                    <button (click)="contact();" class="btn btn-primary form-control">Send</button>
                </div>
            </form>
            <form *ngIf="type==='support'">
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Project #</span>
                    <input type="text" [(ngModel)]="id" name="id" class="form-control" placeholder="Enter the project id" aria-describedby="basic-addon1">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Client #</span>
                    <input type="text" [(ngModel)]="clientId" name="client-id" class="form-control" placeholder="Enter your client id" aria-describedby="basic-addon1">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Question</span>
                    <textarea rows="5" [(ngModel)]="message" name="message" class="form-control" placeholder="Type your question" aria-describedby="basic-addon1"></textarea>
                </div>
                <div class="form-group">
                    <button (click)="contact();" class="btn btn-primary form-control">Send</button>
                </div>
            </form>
            <form *ngIf="type==='new'">
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Name</span>
                    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Enter your name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Email</span>
                    <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon1">
                </div>
                <div class="dropdown form-group">
                    <button class="btn btn-default dropdown-toggle form-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose the purpose
                    <span class="caret"></span>
                </button>&ensp; : {{newPurpose}}
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li (click)="setPurpose('project');">New Project/ Service</li>
                        <li (click)="setPurpose('other');">Other</li>
                    </ul>
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon" id="basic-addon1">Question</span>
                    <textarea rows="5" [(ngModel)]="message" name="message" class="form-control" placeholder="Type your question" aria-describedby="basic-addon1"></textarea>
                </div>
                <div class="form-group">
                    <button (click)="contact();" class="btn btn-primary form-control">Send</button>
                </div>
            </form>
        </div> -->
    </div>
</div>